@model Shoplify.Web.ViewModels.Advertisement.CreateViewModel
@{
    ViewData["Title"] = "Add Advertisement";
}
<div class="container-fluid margin-top-8rem">

    <div class="row">
        <div class="col-md-6 mx-auto mb-100">
            <div class="login-form margin-top-2rem">
                <h3 class="billing-title text-center">Create Advertisement</h3>
                <p class="text-center mt-80 mb-40">The fastest way to sell </p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" asp-controller="Advertisement" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <input asp-for="BindingModel.Name" class="form-control common-input mt-20" placeholder="Title*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title*'" required />
                        <span asp-validation-for="BindingModel.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group row align-items-center">
                        <div class="form-group input-group-icon mt-10 col-md-6">
                            <div class="form-select" id="default-select">
                                <select asp-for="BindingModel.CategoryId" class="border">
                                    <option value="0" disabled selected>Select Category</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="BindingModel.CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group input-group-icon mt-10 col-md-6">
                            <div class="form-select">
                                <select asp-for="BindingModel.SubCategoryId" class="border">
                                    <option value="0" disabled selected>Select SubCategory</option>
                                    <option value="1">Country</option>
                                    <option value="1">Bangladesh</option>
                                    <option value="1">India</option>
                                    <option value="1">England</option>
                                    <option value="1">Srilanka</option>
                                </select>
                                <span asp-validation-for="BindingModel.SubCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-20 align-items-center">
                        <div class="col-md-6">
                            <input asp-for="BindingModel.Price" type="number" class="form-control common-input mt-20" placeholder="Price*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price*'" required />
                            <span asp-validation-for="BindingModel.Price" class="text-danger"></span>
                        </div>
                        <div class="form-select col-md-6">
                            <select asp-for="BindingModel.Condition" class="border">
                                <option value="0" disabled selected>Select Condition</option>
                                <option value="1">New</option>
                                <option value="2">Used</option>
                                <option value="3">Damaged</option>
                            </select>
                            <span asp-validation-for="BindingModel.Condition" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group mt-10">
                        <textarea asp-for="BindingModel.Description" class="common-textarea" rows="50" cols="50" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'"></textarea>
                        <span asp-validation-for="BindingModel.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group row mt-20 align-items-center">
                        <div class="col-md-6">
                            <input asp-for="BindingModel.Number" class="form-control common-input mt-20" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" />
                            <span asp-validation-for="BindingModel.Number" class="text-danger"></span>
                        </div>
                        <div class="form-select col-md-6">
                            <select asp-for="BindingModel.TownId" class="border">
                                <option value="0" disabled selected>Select Town</option>
                                @foreach (var town in Model.Towns)
                                {
                                    <option value="@town.Id">@town.Name</option>
                                }
                            </select>
                            <span asp-validation-for="BindingModel.TownId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input asp-for="BindingModel.Address" class="form-control common-input mt-20" placeholder="Address*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address*'" required />
                        <span asp-validation-for="BindingModel.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-sm-between margin-top-2rem">
                            @for (int i = 0; i < 3; i++)
                            {
                            <div class="image mb-2" id="@("preview-picture" + i)">
                                <label for="@("image" + i)" class="image-upload"></label>
                                <input type="file" asp-for="BindingModel.Images" id="@("image" + i)" class="image-upload" />
                            </div>
                            }
                        </div>
                        <div class="row justify-content-sm-between margin-top-4rem">
                            @for (int i = 3; i < 6; i++)
                            {
                                <div class="image mb-2" id="@("preview-picture" + i)">
                                    <label for="@("image" + i)" class="image-upload"></label>
                                    <input type="file" asp-for="BindingModel.Images" id="@("image" + i)" class="image-upload" />
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn view-btn color-2 mt-20 w-100"><span>Create</span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/uploadImage.js" asp-append-version="true"></script>
}

