@model Shoplify.Web.ViewModels.Message.MessagesChatViewModel

@{
    ViewData["Title"] = "Chat - " + Model.AdName;
}

<h3 class="text-center mb-4 margin-top-8rem"><a class="color-pink" asp-controller="Advertisement" asp-action="Details" asp-route-id="@Model.AdId">@Model.AdName</a></h3>
<div class="margin-bottom-8rem">
    <div class="col-10 mx-auto px-4 my-5">
        <div class="chat-box bg-white" id="messages">
            @foreach (var message in Model.Messages)
            {
                if (message.SenderName == User.Identity.Name)
                {
                    <div class="media w-50 ml-auto mb-3 message">
                        <div class="media-body">
                            <p class="small text-muted">Me</p>
                            <div class="btn-pink rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">@message.Text</p>
                            </div>
                            <p class="small text-muted local-date">@message.SendOn</p>
                        </div>
                        <div style="display: none">
                            <input type="text" class="utc-date" value="@message.SendOn UTC"/>
                        </div>
                    </div>
                }
                else
                {
                    <div class="media w-50 mb-3 message">
                        <div class="media-body ml-3">
                            <p class="small text-muted">@message.SenderName</p>
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-muted">@message.Text</p>
                            </div>
                            <p class="small text-muted local-date">@message.SendOn</p>
                        </div>
                        <div style="display: none">
                            <input type="text" class="utc-date" value="@message.SendOn UTC"/>
                        </div>
                    </div>
                }
            }
        </div>

        <form asp-controller="Message" asp-action="Send" id="sendMessageForm" method="post" class="bg-light">
            @await Component.InvokeAsync("SendMessage",
                new
                     {
                    receiverId = Model.OnMessageSendReceiverId,
                    senderId = Model.OnMessageSendSenderId,
                    conversationId = Model.ConversationId
                })
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/displayMessage.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/signalRConnection.js" asp-append-version="true"></script>
    <script src="~/js/sendMessage.js" asp-append-version="true"></script>
    <script src="~/js/convertDate.js"></script>
}
