@using System.Security.Claims
@using Shoplify.Common
@model Shoplify.Web.ViewModels.User.WishlistViewModel
@{
    ViewData["Title"] = "Wishlist";
}
<div class="container-fluid margin-top-4rem">
    <div class="row">
        <div class="col-md-8 mx-auto mb-100">
            <h2 class="text-center margin-top-4rem margin-bottom-2rem">Wishlist</h2>
            <table class="table table-zebra">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">User</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Details</th>
                        <th scope="col">Message</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Advertisements.Count == 0)
                    {
                        <h1 class="text-center margin-bottom-4rem margin-top-4rem">Sorry, no ads found...</h1>
                    }

                    @for (var i = 0; i < Model.Advertisements.Count; i++)
                    {
                <tr>
                    <th scope="row">@Model.Advertisements[i].Name</th>
                    <td>@Model.Advertisements[i].Price</td>
                    <td>@Model.Advertisements[i].Category</td>
                    <td>@Model.Advertisements[i].UserName</td>
                    <td>@Model.Advertisements[i].CreatedOn</td>

                    <td>
                        <div class="button-holder">
                            <a asp-controller="Advertisement" asp-action="Details" asp-route-id="@Model.Advertisements[i].Id" asp-route-returnUrl="@Url.Action("Profile", "User", new { })" class="btn btn-details">Details</a>
                        </div>
                    </td>

                    <td>
                        <div class="button-holder">
                            <a asp-controller="Conversation" asp-action="Create" asp-route-buyerId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-sellerId="@Model.Advertisements[i].UserId" asp-route-adId="@Model.Advertisements[i].Id" asp-route-returnUrl="@Url.Action("Profile", "User", new { })" class="btn btn-primary">Message</a>
                        </div>
                    </td>

                    <td>
                        <div class="button-holder">
                            <a asp-controller="User" asp-action="RemoveFromWishlist" asp-route-adId="@Model.Advertisements[i].Id" class="btn btn-danger">Remove</a>
                        </div>
                    </td>
                </tr>
                    }

                </tbody>

            </table>
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="pagination mx-auto">
                    @{
                        var prevPage = Model.CurrentPage - 1;
                        var nextPage = Model.CurrentPage + 1;
                    }
                    @if (Model.CurrentPage != 1)
                    {
                        <a asp-controller="User" asp-action="Wishlist" asp-route-page="@prevPage" class="prev-arrow "><i class="fas fa-arrow-left"></i></a>
                    }

                    @for (var j = 1; j <= (Model.TotalAdsCount / GlobalConstants.AdsOnPageCount) + 1; j++)
                    {
                        @if (j == Model.CurrentPage)
                        {
                            <a class="active" asp-controller="User" asp-action="Wishlist" asp-route-page="@j">@j</a>
                        }
                        else if (j >= Model.CurrentPage - 4 && (j <= Model.CurrentPage + 4 && j <= Model.LastPage))
                        {
                            <a asp-controller="User" asp-action="Wishlist" asp-route-page="@j">@j</a>
                        }
                    }

                    @if (Model.CurrentPage != Model.LastPage)
                    {
                        <a asp-controller="User" asp-action="Wishlist" asp-route-page="@nextPage" class="next-arrow"><i class="fas fa-arrow-right"></i></a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
